#game_pongCanvas {
    background: #000;
    margin: 20px auto;
    display: block;
}

.game_container {
    max-width: 1200px;
    margin: 0 auto;
}

.game_navbar {
    border-radius: 0 0 10px 10px;
    margin-bottom: 30px;
}

#game_gameContainer {
    background: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
