.chat_collapsible {
	display: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.chat_collapsible.active {
	display: block;
    opacity: 1;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 600px;
    max-height: 600px;
    overflow-y: auto;
    border: 2px solid #00ff88;
    border-radius: 10px;
    background: rgb(1, 59, 31);
    box-shadow: 0 0 20px rgba(0, 255, 136, 0.3);
    overflow-x: hidden;
    transition: height 0.3s ease-in-out;

    white-space: normal;
    overflow-wrap: break-word;
    word-break: break-word;
}

.chat_header {
    user-select: none;
    -webkit-user-select: none;  /* Chrome, Safari */
    -moz-user-select: none;     /* Firefox */
    -ms-user-select: none;      /* Edge */

    display: flex;
    align-items: center;
    background: rgba(0, 255, 136, 0.5);
    color: white;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    position: relative;
}

.chat_toggle-button {
    position: absolute;
    left: 10px;
    font-size: 1.5rem;
    cursor: pointer;
}

.chat_title {
    flex-grow: 1;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
}

.chat_settings-button {
    display: none;
    position: absolute;
    right: 10px;
    font-size: 1.5rem;
    cursor: pointer;
}



.chat_dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0.5rem;
    background-color: #000;
    border: 1px solid #00ff88;
    border-radius: 5px;
    margin-top: 0.5rem;
    width: max-content;
	font-family: 'Orbitron', sans-serif;
	font-size: 1rem;
}

.chat_dropdown-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.chat_dropdown-menu li {
    padding: 0.5rem;
}

.chat_dropdownMenuButton {
    color: #00ff88;
    text-decoration: none;
    display: block;
}

.chat_dropdownMenuButton:hover {
    background-color: #00ff88;
    color: #000;
}

.chat_dropdownMenuButton_block {
    color: #dc3545;
    text-decoration: none;
    display: block;
}

.chat_dropdownMenuButton_block:hover {
    background-color: #dc3545;
    color: #000;
}

.chat_dropdown-divider {
    border: none;
    height: 1px;
    background-color: #666; 
    margin: 0.1rem 0; 
}




.chat_body {
    display: none;
    padding: 10px;
    overflow-y: auto;
}

.chat_collapsible.expanded .chat_body {
    display: block;
}

.chat_messages {
    height: 250px;
    overflow-y: auto;
    background: rgba(0, 255, 136, 0.05);
    border: 1px solid #00ff88;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.chat_avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #00ff88;
    box-shadow: 0 0 5px rgba(0, 255, 136, 0.5);
    flex-shrink: 0;
    background-position: center;
    background-size: cover;
    display: flex;

}

.chat_avatar_placeholder{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #00ff88;
    box-shadow: 0 0 5px rgba(0, 255, 136, 0.5);
    flex-shrink: 0;
    background-position: center;
    background-size: cover;

    background-color: rgba(0, 255, 136, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    text-align: center;
}

.chat_text_user {
    margin-left: 0.5rem;
}

.chat_text_friend {
    margin-right: 0.5rem;
}

.chat_user_message {
    text-align: right;
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    justify-content: right;
    gap: 10px;
    margin-left: 50px;
}

.chat_friend_message {
    text-align: left;
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    gap: 10px;
    margin-right: 50px;
}

.chat_settings_input {
    width: 100%;
    padding: 10px;
    border: 2px solid #00ff88;
    border-radius: 5px;
    font-size: 1rem;
    background: rgba(0, 255, 136, 0.1);
    color: #00ff88;
}

.chat_settings_profile {
    width: 100%;
    padding: 10px;
    border: 2px solid #00ff88;
    background: none;
    color: #00ff88;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-top: 10px;
}

.chat_settings_profile:hover {
    background-color: #00ff88;
    color: white;
}

.chat_friends_ul {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    user-select: none;
    -webkit-user-select: none;  /* Chrome, Safari */
    -moz-user-select: none;     /* Firefox */
    -ms-user-select: none;      /* Edge */
}

.chat_friends_ul.active {
    display: block;
    opacity: 1;
    list-style: none;
    width: 100%;
    padding: 10px;
    border: 2px solid #00ff88;
    background: none;
    color: #00ff88;
    font-size: 16px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-top: 10px;
}

.chat_friends_ul:hover {
    background-color: rgba(0, 255, 136, 0.5);
    color: white;
}

.chat_friends_ul.inactive {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.chat_nofriends_ul {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.chat_nofriends_ul.active{
    display: block;
    opacity: 1;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    margin-left: 10%;
    margin-right: 10%;
}

.chat_nofriends_ul p {
    color: #dc3545;
    font-size: 1.5rem;
    text-align: center;
    margin: 0;
}