.game_tournament-title-btn {
    position: relative;
	align-items: flex-start;
    top: 1rem;
    left: 1rem;
    justify-content: space-between;
    gap: 0.5rem;
    padding: 0.8rem 1.2rem;
    background: transparent;
    border: 2px solid #00ff88;
    border-radius: 5px;
    color: #00ff88;
    cursor: pointer;
    font-family: 'Orbitron', sans-serif;
    font-size: 1rem;
    transition: all 0.3s ease;
    text-align: left;
}

.game_tournament-title-btn:hover {
    background: rgba(0, 255, 136, 0.2);
    box-shadow: 0 0 15px rgba(0, 255, 136, 0.5);
}

.game_tournament-icon {
    font-size: 1rem;
    transition: transform 0.3s ease;
}

.game_tournament-title-btn.active .game_tournament-icon {
    transform: rotate(180deg);
}
